body
{
    background-color:beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    
}

h1
{
    text-decoration: underline;
    animation-name: colorlerp;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorlerp
{
    from {color:aqua}
    50% {color:crimson}
    to {color:greenyellow}
}

h2
{
    text-decoration: underline;
}