body
{
    background-color:beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p
{
    font-size: 17px;
    color:rgb(27, 26, 26);
}

h1
{
    text-decoration: underline;
    animation-name: colorlerp;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorlerp
{
    from {color:aqua}
    50% {color:crimson}
    to {color:greenyellow}
}

h2
{
    text-decoration: underline;
}

.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}